body
{
    background-color: #E6E6FA;
}

h1
{
    color: 	#68228B;
    text-align: center;
}

h2
{
    color: #8B668B;
}

p
{
    color:  #1C1C1C;
}

h4
{
    color:  #1C1C1C;
}

footer
{
    text-align: center;
}